
{{ use('frontend/widgets/SLinkPagerAjax') }}
<section class="bxSlider_section_1 main-slider-st">
	<div class="container is__rellative">
		<div class="js--bxSlider_1">
			{% for slide in slides %}
				{% if loop.first %}
					<a href="{{slide.info.title}}" class="bxSlider_1_item">
						<img data-srcset="{{ slide.imgpng }}" src="{{ slide.imgpng }}"  class="lazy-img-in-src"  data-pagespeed-no-transform onload="" alt="" data-alt="{{ slide.info.title }}">
					</a>
				{% else %}
					<a href="{{slide.info.title}}" class="bxSlider_1_item">
						<img data-srcset="{{ slide.imgpng }}" data-src="{{ slide.imgpng }}"  class="lazy-img-in-src"  data-pagespeed-no-transform onload="" alt="" data-alt="{{ slide.info.title }}">
					</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="slider_control">
			<div class="slider-prev"></div>
			<div class="slider-next"></div>
		</div>
	</div>
</section>

<section class="section_nav_menu_bottom" id="menu_el" style='/*opacity:0;visibility:hidden;*/'>
	<div class="sublim"></div>
	<div class="sublim-left"></div>
	<div class="container is__rellative">
		<ul class="nav_menu_bottom owl-carousel">
            <li class="item_menu_bottom item">
				<a href="{{ Url.toRoute('/category') }}" class="link js-ajax-request  js-category-0" data-id="0">
					<div class="img_link lazy-img-in-bg" data-bachground="/img/icon-1.png" style="background: url('/img/icon-1.png') center center / auto 100% no-repeat;">
					</div>
					<div class="txt_link">
						{#Все меню#}{{ this.params.all_menu }}
					</div>
				</a>
			</li>

			{% for category in categories %}
				<li class="item_menu_bottom item">
					<a href="{{ category.url }}" class="link {% if category.id==6 %}link_1{% endif %} js-ajax-request {% if active_category == category.id %}active{% endif %} js-category-{{ category.id }}" data-id="{{ category.id }}">
						<div class="img_link lazy-img-in-bg" data-bachground="{{ category.imgpng }}" style="background: url('{{ category.imgpng }}') center center / auto 100% no-repeat;">
						</div>
						<div class="txt_link">
							{{ category.info.title }}
						</div>
					</a>
				</li>
			{% endfor %}

		</ul>
	</div>

</section>



<section class="section_goods skHomePage" id="scroll-anchor">
	<div class="container js-row">
		<div class="row ">

			{% for product in products %}
				<div itemscope="" itemtype="http://schema.org/Product" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 is__padding_0">
					<div class="cart_goods">
						<div itemprop="name" class="name_cart"><a href="{{ product.url }}">{{ product.info.title }}</a></div>
						<a href="{{ product.url }}"><div title="{{ product.info.title }} - 3piroga.com.ua"  class="img_cart lazy-img-in-bg" data-bachground="{{ product.simg }}"></div>
						<meta itemprop="image" content="{{ product.bimg }}">
							{% if stikers and product.stikers.0.stikers_id%}
                                {% for stiker in stikers %}
                                    {% if stiker.id == product.stikers.0.stikers_id %}
                                        <div class="block-stikers">
                                            <img class="stiker_home_product lazy-img-in-src" data-pagespeed-no-transform onload="" data-src="{{stiker.getImgPng(product.stikers.0.stikers_id) }}" src=''>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
						</a>
						<div class="line_1">
						<ul class="size_goods js-category-{{ product.id }}">
							{% for params in product.params %}
								<li data-price="{{  params.price }}" data-id="{{ params.id  }}" class="item {% if loop.first %}active{% endif %}">
									<div class="circle_part js-change-price" data-price="{{ params.price }}" data-id="{{ product.id }}" >
										<div class="item_value">{{ params.values.value }}</div>
										<div class="item_txt">{{params.nameValue.info.value}}</div>
									</div>

									{% if params.weights %}
										{% if params.weights.value %}
										<div class="inline_part">
											{{ params.weights.value }}{{ this.params.gramm }}
										</div>
										{% endif %}
									{% endif %}
									<div itemprop="offers" itemscope="" itemtype="https://schema.org/Offer" style="display: none">
										<meta itemprop="price" content="{{  params.price }}">
										<meta itemprop="priceCurrency" content="UAH">
										<link itemprop="availability" href="https://schema.org/InStock">
										<meta itemprop="priceValidUntil" content="{{ "now + 1 day"|date("Y-m-d") }}" />
										<link itemprop="url" href="{{ product.url }}" />
									</div>
								</li>
							{% endfor %}

						</ul>
						<meta itemprop="sku" content="{{ product.info.title }}">
						<meta itemprop="description" content="{{ product.info.text|striptags  }}">
						<meta itemprop="brand" content="3piroga.ua">
						<div class="price">
							<span class="price_title">{{ this.params.price_text }}</span>
							{% for params in product.params %}
								{% if loop.first %}
                                    {% set skNewPrice = params.price|split('.') %}
									<span class="count js-count-view-{{ product.id }}">{{ skNewPrice[0] }}{% if skNewPrice[1] %}<span class="skCents">{{ skNewPrice[1] }}</span>{% endif %}</span>
								{% endif %}
							{% endfor %}
							<span class="txt">{{ this.params.grn }}</span>
						</div>
						</div>
						<div class="line_1">
						<div class="b-product__qty">
							<span class="js-qty-minus js-count-in-catalog" data-id="{{ product.id }}"><span class="fas fa-minus-circle"></span> </span>
							<input type="text" pattern="\d [1-9]" name="#" data-id="{{ product.id }}" class="js-qty-input js-count-add-{{ product.id }}" value="1">
							<span class="js-qty-plus js-count-in-catalog" data-id="{{ product.id }}"><span class="fas fa-plus-circle"></span></span>
						</div>

						<div class="but_add">
							<a href="" data-id="{{ product.id }}" class="js-add-to-cart">{#Добавить в  коробку#}{{ this.params.added_to_box }}</a>
						</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
		<div class="pagination_my">
			{{ s_link_pager_ajax_widget({
				'pagination' : pages,
				'maxButtonCount' : 3,
				'options' : {
					'class' : 'pagination_list',
				},
				'linkOptions' : {
					'class' : 'list_item',
				},
			}) }}
		</div>
	</div>
</section>


<div  style="background-color: #fff; width: 95%; margin: 0 auto;">
	<div class="container">
		<div class="goods_item_page mod2">
			<div class="col-md-12 is__padding_right_0 is__padding_left_0">
				<div class="slider_goods_cart mod2">
					<div class="header_slider 1">
                        {#С этим пирогом берут:#}{{ this.params.with_this4 }}
					</div>

					<div class="js--bxSlider_5">
                        {% for slide in slides2 %}
							<div class="bxSlider_2_item">
								<img src="" class="lazy-img-in-src" data-pagespeed-no-transform onload="" data-src="{{ slide.imgpng }}" alt="{{ slide.info.title }}">
							</div>
                        {% endfor %}

					</div>

					<div class="slider_control_2">
						<div class="slider-prev_2"></div>
						<div class="slider-next_2"></div>
					</div>


				</div>
			</div>
		</div>
	</div>

</div>

<div style="clear: both;"></div>

<section class="section_goods">
	<div class="container">


		<div class="seo_txt">
			<h1 class="title">{{ Seo.get('h1') }}</h1>
			<div class="txt">
				<!--seo_text_start-->
				{{ Seo.get('text')|raw  }}
				<!--seo_text_end-->
			</div>
		</div>
	</div>
</section>
