{{ use('frontend/widgets/SLinkPager') }}
<section class="breadcrumbs_reviews_page">
    <div class="container">
         <ul class="bread_list" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="item" itemprop="itemListElement" itemscope
			    itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ Url.home() }}" class="link"><span itemprop="name" >{{ this.params.main }}</span></a>
				<meta itemprop="position" content="1" />
            </li>
            <li class="item">
                <span> / </span>
            </li>
            <li class="item" itemprop="itemListElement" itemscope
			    itemtype="http://schema.org/ListItem">
				<a itemprop="item"  class="link" ><span itemprop="name">{{ this.params.feedbacks }}</span></a>
				<meta itemprop="position" content="2" />
            </li>

        </ul>
    </div>
</section>

<section class="reviews_page">
    <div class="container">
        <h1 class="head_section">
            {{ Seo.get('h1') }}
        </h1>
        <div class="row">

            <div class="col-sm-12 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8">
                <div class="form_reviews">

                    <form id="js-feedback" action="" class="reviews_send">
                        <div class="head_form">{#Оставьте ваш отзыв#}{{ this.params.your_feedback }}</div>
                        <div class="user_rating" data-star="5">
                            <div class="head">{#Ваша оценка#}{{ this.params.your_mark }}:</div>
                            <div class="rating_value"></div>
                        </div>

                        <input id="name" name="name" type="text" class="name" placeholder="{#Ваше имя#}{{ this.params.your_name }}" value="{{ app.user.identity.username }}" required>
                        <input name="email" id="email" type="email" class="name" placeholder="{#Ваше имя#}email" value="{{ app.user.identity.email }}" required>
                        <textarea name="text" type="text" class="msg_reviews" placeholder="{#Текст отзыва#}{{ this.params.your_messages }}" required></textarea>
                        {#<div class="img">
                            <img src="/img/reviews_3.png" alt="">
                        </div>#}

                        <button type="submit" class="send_msg">{{ this.params.send_feedback }}</button>
                        <span class="js-feedback-success"></span>
                    </form>


                </div>
            </div>

            <div class="col-sm-12 col-md-7 col-md-pull-5 col-lg-8 col-lg-pull-4">
                {% for i, feedback in feedbacks %}
                    <div class="reviews_item_box">
                        <div class="reviews_item">
                            <div class="name_date">
                                <span class="name">{{ feedback.name }}</span>
                                <span class="date">{{ feedback.creation_time|date('d.m.Y') }}</span>
                            </div>
                            <div id="raying-{{ feedback.id }}" class="rating" data-id="{{ feedback.id }}"  data-count="{{ feedback.mark }}"></div>
                            <div class="txt">{{ feedback.text }} </div>
                            <div style="padding-left: 2%;padding-top: 2%" class="answers">
                                {% for answer in feedbacks_answer %}
                                {% for ans in answer %}
                                    {% if(feedback.id == ans.parent_id) %}
                                        <div class="name_date" >
                                            <span style="color: #FF7500" class="name"><img style="width: 40px" src="/img/header/logo.png"></span>

                                        </div>
                                        <div style="color: #FF7500" class="txt">
                                            {{ ans.text}}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="txt">{{ feedback.text }} </div>
            </div>
        </div>

        <div class="pagination_block">

            {{ s_link_pager_widget({
                'pagination' : pages,
                'maxButtonCount' : 7,
                'options' : {
                    'class' : 'pagination_list',
                },
                'linkOptions' : {
                    'class' : 'list_item',
                },
            }) }}



        </div>
        <div class="seo_txt">
            <div class="txt">
                {{ Seo.get('text')|raw  }}
            </div>
        </div>

    </div>

</section>